@import "../../sass/variables";
.Projects {
  width: 100%;
  display: flex;
  background-color: $color-primary-2;
  justify-content: center;
  align-items: center;
  &_Title {
    justify-self: flex-start;
    font-size: 40px;
  }
  &_TextBlock {
    height: 100%;
    margin: 10px;
    padding: 10px;
    background-color: $color-primary-4;
    color: $color-primary-1;
    border-radius: 15px;
    font-weight: 500;
    max-width: $HomeMaxWidth;
    display: flex;
    flex-direction: column;
  }
  &_Links {
    font-size: 24px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-self: flex-end;
    margin-left: 15px;
    li{
      margin: 10px 0 10px 0;
    }
  }
  &_Link {
    color: $color-primary-2;

    &:visited {
      color: $color-primary-2;
    }
    &:hover {
      color: $color-primary-3;
    }
  }
  &_Paragraph {
    font-size: 26px;
    margin-bottom: 0;
  }
  @media only screen and (min-width: $mobileBreakpoint) {
    height: 100vh;
    &_TextBlock {
      margin: 0 0 0 50px;
      padding: 25px 30px;
      height: initial;
    }
    &_Links {
      flex-direction: row;
      margin: 20px 0 20px 0;
    }
    &_Link {
      margin-right: 10px;
    }
  }
}
