@import "../../sass/variables";
.Projects {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: $color-primary-4;
  justify-content: center;
  align-items: center;
  &_Title {
    justify-self: flex-start;
  }
  &_TextBlock {
    color: $color-primary-0;
    border-radius: 5px;
    padding: 25px 30px;
    font-size: 20px;
    font-weight: 500;
    height: 500px;
    max-width: $HomeMaxWidth;
    display: flex;
    flex-direction: column;
  }
  &_Links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
  }
  &_Link {
    color: $color-primary-1;
    margin-right: 10px;
    &:visited {
      color: $color-primary-1;
    }
    &:hover {
      color: $color-primary-2;
    }
  }
  &_Paragraph {
  }
}
