@import "../../sass/variables";
.HomePage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary-1;
  padding: 10px;
  &_TextBlock {
    color: $color-primary-0;
    border-radius: 15px;
    padding: 25px 30px;
    font-size: 20px;
    font-weight: 500;
    max-width: $HomeMaxWidth;
  }
  &_Links{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  &_Link {
    font-size: 26px;
    color: $color-primary-4;
    margin-right: 10px;
    &:hover {
      color: $color-primary-2;
    }
  }
  @media only screen and (min-width: $mobileBreakpoint) {
    min-height: 100vh;
  }
}
