@import "../../sass/variables";
.Rightpoint {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // max-height: 512px;
  height: 100vh;
  background-color: $color-Rightpoint-Red;
  &_TextBlock {
    margin-left: 50px;
    background-color: $color-primary-4;
    color: $color-primary-1;
    border-radius: 15px;
    padding: 25px 30px;
    max-width: $HomeMaxWidth;
    font-size: 20px;
  }
  &_Summary {
    margin: 10px 30px;
    font-weight: bold;
  }
  &_Logo {
    padding: 10px;
    margin: 0 50px;
    max-width: 400px;
    max-height: 400px;
  }
}
