@import "../../sass/variables";
.RIT {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  max-width: $HomeMaxWidth;
  height: 100vh;
  &_TextBlock {
    background-color: $color-primary-0;
    color: $color-primary-1;
    border-radius: 15px;
    padding: 25px 30px;
  }
  &_Summary {
    margin: 10px 30px;
  }
  &_Logo {
    margin-right: 50px;
    max-width: 276px;
    max-height: 323px;
    height: auto;
  }
}
