@import "../../sass/variables";
.Rightpoint {
  width: 75%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // max-height: 512px;
  height: 100vh;
  max-width: $HomeMaxWidth;
  &_TextBlock {
    background-color: $color-primary-0;
    color: $color-primary-1;
    border-radius: 15px;
    padding: 25px 30px;
  }
  &_Summary {
    margin: 10px 30px;
  }
  &_Logo {
    padding: 10px;
    margin-left: 50px;
    max-width: 400px;
    max-height: 400px;
  }
}
